* {
    font-family: open-sans;
}

.back-button {
    position: absolute;
    top: 5%;
    left: 5%;
}

@keyframes fadeInAnimation {
    0% {
        background: black;
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        background: black;
     }
}