* {
    font-family: open-sans;
}

h1, h2, h3 {
    font-family: "bamberger-bold-fm";
}


.back-button {
    position: absolute;
    top: 5%;
    left: 5%;
}

@font-face {
    font-family: "bamberger-bold-fm";
    src: url("../fonts/bamberger-bold-fm.eot"),
    url("../fonts/bamberger-bold-fm.otf") format("opentype"),
    url("../fonts/bamberger-bold-fm.ttf") format('truetype');
}

@font-face {
    font-family: "open-sans";
    src: url("../fonts/OpenSansHebrew-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "open-sans-bold";
    src: url("../fonts/OpenSansHebrew-Bold.ttf") format('truetype');
}

@keyframes fadeInAnimation {
    0% {
        background: black;
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        background: black;
     }
}