* {
    color: white;
}

body {
    background: #141521;
    direction: rtl;
}

h1 {
    margin-top: 5%;
    margin-right: 5%;
    font-size: 500%;
    color: #141521;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.options-content {
    padding: 150px;
    font-size: 200%;
    display: flex;
    justify-content: space-around;

}

.options-content div {
    min-width: 150px;
}
