html {
    height: 100%;
    animation: fadeInAnimation 1s linear;
}

body {
    font-size: 200%;
    background: #141521;
    color: white;
    direction: rtl;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#293193, #141521);
    animation: fadeOutAnimation 1s linear forwards, shrink-div 1s forwards;
    animation-delay: 7s, 8s;
    z-index: -1;
}

h1 {
    font-size: 200%;
}

.back-button {
    z-index: 999;
}

/*******************************    SNORKEL IMAGES     *********************************/
.snorkel-shapes {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
}

.goggle-outlines {
    position: absolute;
    z-index: 9;
    width: 75%;
}

.small-goggle-mask {
    position: absolute;
    margin-top: 7%;
    z-index: 1;
    width: 60%;
}

.empty-full-goggle-mask {
    border-radius: 300px;
    background: #141521;
    position: absolute;
    z-index: 10;
    width: 75%;
    opacity: 0;
    animation: fadeInAnimation 1s linear forwards;
    animation-delay: 7.5s;
}

/*******************************    SNORKEL RAW TEXT     *********************************/

.snorkel-contents {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 4;
    top: 20%;
    width: 100%;
    height: 30%;
}

.first_title {
    position: absolute;
    bottom: 100px;
    animation: fade-out-up 1.5s linear forwards;
    animation-delay: 2s;
}

.instructions {
    position: absolute;
    opacity: 0;
    animation: fade-in-up 1.5s linear forwards;
    animation-delay: 3s;
}


/*******************************    SNORKEL ROTATING TEXT IMAGE     *********************************/
.snorkel-options-wrapper{
    position: absolute;
    /* border: solid; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.snorkel-options {
    /* border: solid; */
    border-radius: 200px;
    border-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 15;
    display: grid;
    height: 520px;
    width: 67%;
    top: 13%;
    overflow: hidden;
    overflow-x: hidden;
    opacity: 0;
    animation: fadeInAnimation 1s linear forwards;
    animation-delay: 8s;
}

.text-in-spin-shape {
    position: relative;
    left: 44%;
    width: 200%;
    bottom: 3%;
}

/*******************************    RING OPTIONS     *********************************/

.circle-options {
    display: flex;
    justify-content: center;
}

#options-ring {
    position: absolute;
    border: solid;
    border-width: thin;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    bottom: -250px;
    /* bottom: 50px; */
    opacity: 0;
    animation: fadeInAnimation 1s linear forwards;
    animation-delay: 8s;
    z-index: 15;

}

.ring-op {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 20;
    filter: grayscale(1);
}

#teal-op {
    filter: grayscale(0);
    height: 75px;
    width: 75px;
    right: 215px;
    top: -42px;
}

#purple-op {
    left: -17px;
    top: 150px;
    transform: rotate(-72deg);
}

#green-op {
    left: 80px;
    bottom: 17px;
    transform: rotate(-144deg);
}

#orange-op {
    right: 80px;
    bottom: 17px;
    transform: rotate(144deg);
}

#pink-op {
    right: -17px;
    top: 150px;
    transform: rotate(72deg);
}

.carousel-op {
    width: 10%;
    position: absolute;
    height: 15%;
    bottom: 10px;
    z-index: 20;
}

.carousel-right {
    right: 32%;
}

.carousel-left {
    left: 32%;
}


/*******************************    BLURRED CIRCLES     *********************************/

.blurred-circle {
    position: absolute;
    background: #2FF7E1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(80px);
    opacity: 0.5;
    z-index: 11;
    opacity: 0;
    animation: fadeInAnimation 1s linear forwards;
    animation-delay: 8s;
}

#blurred-1 {
    left: -65px;
    top: 609px;
    background: #01E0A5;
}

#blurred-2 {
    left: 750px;
    top: -10px;
}

#blurred-3 {
    right: 275px;
    bottom: 175px;
}

/*******************************    ANIMATIONS     *********************************/

@keyframes fade-out-up {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        bottom: 200px;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        bottom: 100px;
    }
}

@keyframes shrink-div {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 0%;
        height: 0%;
    }
}
