html {
    height: 100%;
}

body {
    background: #141521;
    color: white;
    overflow: hidden;
    animation: fadeInAnimation 1s linear;
}

/*******************************  BLURRED CIRCLES  **************************/
.blurred-circle {
    position: absolute;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    filter: blur(184px);
    opacity: 0.5;
}

/* bottom right */
#blurred-1 {
    right: 10%;
    bottom: 5%;
    background: #8FE53E;
}

/* top */
#blurred-2 {
    left: 55%;
    top: -15%;
    background: #E98D2E;
}

/* mid left */
#blurred-3 {
    width: 225px;
    height: 225px;
    filter: blur(100px);
    left: -3%;
    bottom: 65%;
    background: #1DC9B0;
}

/* bottom left */
#blurred-4 {
    width: 250px;
    height: 250px;
    filter: blur(120px);
    left: 10%;
    bottom: 15%;
    background: #8ED0D3;
}

/*******************************  ALL TEXT  **************************/

.scroll {
    position: absolute;
    top: 45%;
    width: 100%;
    direction: rtl;
    text-align: center;
    font-size: 150%;
}

.title {
    font-size: 220%;
    font-weight: bold;
    margin-right: 5%;
}

.content {
    font-weight: 500;
    margin-right: 5%;
}


/******************************* TEXT A **************************/
#scroll-a {
    left: 0%;
    z-index: 5;
}

#title-a {
    font-size: 300%;
    margin-right: 0%;
}

#content-a {
    margin-right: 0%;
}

/******************************* TEXT B **************************/

#scroll-b {
    left: -30%;
    text-align: right;
    z-index: 4;
    opacity: 0;
}

#title-b {
}

#content-b {

}

/******************************* TEXT C **************************/

#scroll-c {
    display: flex;
    top: 55%;
    left: 0%;
    text-align: right;
    z-index: 4;
    opacity: 0;
}

#title-c {
}

#content-c {
    position: relative;
    align-self: flex-end;
    left: 75px;
    top: -3px;
}

/******************************* OP CIRCLE **************************/
#op-circle {
    content: "";
    position: absolute;
    width: 370px;
    height: 370px;
    border: solid;
    border-radius: 100%;
    border-width: thin;
    left: 24%;
    bottom: 22%;
}



/*******************************  ISRAEL VECTORS  **************************/

.israel {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.vector {
    z-index: -1;
}

/*
    To convert to precentage :
    width: self / 1920;
    height: self / 1080;
    left: self * 100 / 1920;
    top: self * 100 / 1080;
*/

#vector-0 {
	position: absolute;
	width: 30.84px;
	height: 41.12px;
	left: 586px;
	top: 1023px;
}

#vector-1 {
	position: absolute;
	width: 25.04px;
	height: 39.9px;
	left: 506px;
	top: 1025px;
}

#vector-2 {
	position: absolute;
	width: 25.04px;
	height: 33.96px;
	left: 1224px;
	top: 979px;
}

#vector-3 {
	position: absolute;
	width: 46.09px;
	height: 66.82px;
	left: 873px;
	top: 946px;
}

#vector-4 {
	position: absolute;
	width: 32.09px;
	height: 26.04px;
	left: 737px;
	top: 982px;
}

#vector-5 {
	position: absolute;
	width: 36.760000000000005px;
	height: 85.99px;
	left: 1259px;
	top: 947px;
}

#vector-6 {
	position: absolute;
	width: 63.17px;
	height: 36.48px;
	left: 176px;
	top: 860px;
}

#vector-7 {
	position: absolute;
	width: 25.03px;
	height: 85.18px;
	left: 1684px;
	top: 929px;
}

#vector-8 {
	position: absolute;
	width: 26.369999999999997px;
	height: 125.16px;
	left: 1814px;
	top: 933px;
}

#vector-9 {
	position: absolute;
	width: 25.759999999999998px;
	height: 57.81px;
	left: 1116px;
	top: 996px;
}

#vector-10 {
	position: absolute;
	width: 45.25px;
	height: 69.87px;
	left: 231px;
	top: 1010px;
}

#vector-11 {
	position: absolute;
	width: 26.96px;
	height: 29.95px;
	left: 184px;
	top: 629px;
}

#vector-12 {
	position: absolute;
	width: 135.04000000000002px;
	height: 59.88px;
	left: 202px;
	top: 21px;
}

#vector-13 {
	position: absolute;
	width: 35.0px;
	height: 37.8px;
	left: 1817px;
	top: 44px;
}

#vector-14 {
	position: absolute;
	width: 35.0px;
	height: 31.91px;
	left: 1828px;
	top: 794px;
}

#vector-15 {
	position: absolute;
	width: 31.96px;
	height: 39.4px;
	left: 666px;
	top: 30px;
}

#vector-16 {
	position: absolute;
	width: 40.71px;
	height: 42.2px;
	left: 1012px;
	top: 52px;
}

#vector-17 {
	position: absolute;
	width: 28.6px;
	height: 50.72px;
	left: 1130px;
	top: 91px;
}

#vector-18 {
	position: absolute;
	width: 33.370000000000005px;
	height: 28.93px;
	left: 62px;
	top: 599px;
}

#vector-19 {
	position: absolute;
	width: 26.89px;
	height: 42.73px;
	left: 33px;
	top: 559px;
}

#vector-20 {
	position: absolute;
	width: 66.74000000000001px;
	height: 54.73px;
	left: 81px;
	top: 400px;
}

#vector-21 {
	position: absolute;
	width: 63.01px;
	height: 92.81px;
	left: 366px;
	top: 21px;
}

#vector-22 {
	position: absolute;
	width: 54.49px;
	height: 26.05px;
	left: 1682px;
	top: 585px;
}

#vector-23 {
	position: absolute;
	width: 20.619999999999997px;
	height: 50.62px;
	left: 1534px;
	top: 99px;
}

#vector-24 {
	position: absolute;
	width: 55.16px;
	height: 65.46000000000001px;
	left: 122px;
	top: 652px;
}

#vector-25 {
	position: absolute;
	width: 32.8px;
	height: 37.8px;
	left: 641px;
	top: -3px;
}

#vector-26 {
	position: absolute;
	width: 42.230000000000004px;
	height: 59.13px;
	left: 1642px;
	top: 10px;
}

#vector-27 {
	position: absolute;
	width: 54.06px;
	height: 95.27px;
	left: 20px;
	top: 91px;
}

#vector-28 {
	position: absolute;
	width: 55.22px;
	height: 45.34px;
	left: 1677px;
	top: 79px;
}

#vector-29 {
	position: absolute;
	width: 20.490000000000002px;
	height: 49.93px;
	left: 176px;
	top: 107px;
}

#vector-30 {
	position: absolute;
	width: 68.72999999999999px;
	height: 39.4px;
	left: 729px;
	top: 26px;
}

#vector-31 {
	position: absolute;
	width: 68.72999999999999px;
	height: 29.63px;
	left: 573px;
	top: 49px;
}

#vector-32 {
	position: absolute;
	width: 39.97px;
	height: 34.06px;
	left: 1159px;
	top: 60px;
}

#vector-33 {
	position: absolute;
	width: 58.22px;
	height: 42.99px;
	left: 1593px;
	top: 933px;
}

#vector-34 {
	position: absolute;
	width: 60.35px;
	height: 53.51px;
	left: 252px;
	top: 785px;
}

#vector-35 {
	position: absolute;
	width: 37.58px;
	height: 75.89px;
	left: 305px;
	top: 74px;
}

#vector-36 {
	position: absolute;
	width: 33.78px;
	height: 51.8px;
	left: 71px;
	top: 662px;
}

#vector-37 {
	position: absolute;
	width: 57.93px;
	height: 46.14px;
	left: 122px;
	top: 881px;
}

#vector-38 {
	position: absolute;
	width: 66.66px;
	height: 50.19px;
	left: 71px;
	top: 850px;
}

#vector-39 {
	position: absolute;
	width: 39.739999999999995px;
	height: 54.82px;
	left: 248px;
	top: 949px;
}

#vector-40 {
	position: absolute;
	width: 36.94px;
	height: 49.73px;
	left: 388px;
	top: 939px;
}

#vector-41 {
	position: absolute;
	width: 40.45px;
	height: 50.91px;
	left: 24px;
	top: 838px;
}

#vector-42 {
	position: absolute;
	width: 64.27000000000001px;
	height: 64.11px;
	left: 214px;
	top: 886px;
}

#vector-43 {
	position: absolute;
	width: 30.04px;
	height: 77.69px;
	left: 625px;
	top: 957px;
}

#vector-44 {
	position: absolute;
	width: 30.04px;
	height: 77.69px;
	left: 184px;
	top: 748px;
}

#vector-45 {
	position: absolute;
	width: 33.120000000000005px;
	height: 57.81px;
	left: 155px;
	top: 956px;
}

#vector-46 {
	position: absolute;
	width: 30.35px;
	height: 68.53px;
	left: 62px;
	top: 903px;
}

#vector-47 {
	position: absolute;
	width: 30.85px;
	height: 98.39px;
	left: 27px;
	top: 621px;
}

#vector-48 {
	position: absolute;
	width: 62.24px;
	height: 38.32px;
	left: 456px;
	top: 978px;
}

#vector-49 {
	position: absolute;
	width: 47.68px;
	height: 36.32px;
	left: 1855px;
	top: 1014px;
}

#vector-50 {
	position: absolute;
	width: 53.46px;
	height: 68.2px;
	left: 73px;
	top: 990px;
}

#vector-51 {
	position: absolute;
	width: 58.49px;
	height: 42.47px;
	left: 394px;
	top: 1023px;
}

#vector-52 {
	position: absolute;
	width: 62.24px;
	height: 83.54px;
	left: 757px;
	top: 1011px;
}

#vector-53 {
	position: absolute;
	width: 65.32px;
	height: 46.95px;
	left: 1438px;
	top: 999px;
}

#vector-54 {
	position: absolute;
	width: 48.38px;
	height: 46.21px;
	left: 674px;
	top: 1001px;
}

#vector-55 {
	position: absolute;
	width: 41.879999999999995px;
	height: 77.69px;
	left: 1852px;
	top: 874px;
}

#vector-56 {
	position: absolute;
	width: 65.17px;
	height: 37.99px;
	left: 1156px;
	top: 1032px;
}

#vector-57 {
	position: absolute;
	width: 33.269999999999996px;
	height: 33.78px;
	left: 1524px;
	top: 986px;
}

#vector-58 {
	position: absolute;
	width: 68.72px;
	height: 52.45px;
	left: 1794px;
	top: 347px;
}

#vector-59 {
	position: absolute;
	width: 28.92px;
	height: 73.9px;
	left: 1412px;
	top: 971px;
}

#vector-60 {
	position: absolute;
	width: 30.97px;
	height: 82.65px;
	left: 546px;
	top: 30px;
}

#vector-61 {
	position: absolute;
	width: 69.5px;
	height: 65.38px;
	left: 1829px;
	top: 267px;
}

#vector-62 {
	position: absolute;
	width: 26.97px;
	height: 55.83px;
	left: 1755px;
	top: 130px;
}

#vector-63 {
	position: absolute;
	width: 35.370000000000005px;
	height: 37.18px;
	left: 1315px;
	top: 78px;
}

#vector-64 {
	position: absolute;
	width: 46.1px;
	height: 58.73px;
	left: 1593px;
	top: 135px;
}

#vector-65 {
	position: absolute;
	width: 46.76px;
	height: 47.1px;
	left: 1858px;
	top: 91px;
}

#vector-66 {
	position: absolute;
	width: 23.39px;
	height: 30.98px;
	left: 1643px;
	top: 106px;
}

#vector-67 {
	position: absolute;
	width: 59.06px;
	height: 40.23px;
	left: 1704px;
	top: 232px;
}

#vector-68 {
	position: absolute;
	width: 60.59px;
	height: 66.86px;
	left: 472px;
	top: -15px;
}

#vector-69 {
	position: absolute;
	width: 59.65px;
	height: 72.29px;
	left: 145px;
	top: 438px;
}

#vector-70 {
	position: absolute;
	width: 62.89px;
	height: 60.4px;
	left: 206px;
	top: 121px;
}

#vector-71 {
	position: absolute;
	width: 62.89px;
	height: 42.49px;
	left: 1399px;
	top: 82px;
}

#vector-72 {
	position: absolute;
	width: 34.71px;
	height: 44.5px;
	left: 365px;
	top: 845px;
}

#vector-73 {
	position: absolute;
	width: 28.75px;
	height: 37.18px;
	left: 1741px;
	top: 40px;
}

#vector-74 {
	position: absolute;
	width: 59.06px;
	height: 41.36px;
	left: 1076px;
	top: 32px;
}

#vector-75 {
	position: absolute;
	width: 32.97px;
	height: 58.91px;
	left: 1699px;
	top: 669px;
}

#vector-76 {
	position: absolute;
	width: 64.44px;
	height: 39.01px;
	left: 129px;
	top: 326px;
}

#vector-77 {
	position: absolute;
	width: 64.44px;
	height: 65.38px;
	left: 960px;
	top: -5px;
}

#vector-78 {
	position: absolute;
	width: 50.35px;
	height: 56.35px;
	left: 462px;
	top: 79px;
}

#vector-79 {
	position: absolute;
	width: 71.18px;
	height: 52.62px;
	left: 1563px;
	top: 1005px;
}

#vector-80 {
	position: absolute;
	width: 67.97999999999999px;
	height: 38.45px;
	left: 1041px;
	top: 1027px;
}

#vector-81 {
	position: absolute;
	width: 79.17px;
	height: 73.47px;
	left: 1237px;
	top: 17px;
}

#vector-82 {
	position: absolute;
	width: 29.17px;
	height: 17.0px;
	left: 296px;
	top: 176px;
}

#vector-83 {
	position: absolute;
	width: 34.17px;
	height: 44.49px;
	left: 1209px;
	top: 14px;
}

#vector-84 {
	position: absolute;
	width: 25.439999999999998px;
	height: 44.45px;
	left: 1461px;
	top: 44px;
}

#vector-85 {
	position: absolute;
	width: 115.09px;
	height: 61.08px;
	left: 1509px;
	top: -3px;
}

#vector-86 {
	position: absolute;
	width: 141.04px;
	height: 61.08px;
	left: 40px;
	top: 4px;
}

#vector-87 {
	position: absolute;
	width: 79.22px;
	height: 47.33px;
	left: 102px;
	top: 156px;
}

#vector-88 {
	position: absolute;
	width: 115.77px;
	height: 48.98px;
	left: 105px;
	top: 249px;
}

#vector-89 {
	position: absolute;
	width: 39.95px;
	height: 42.73px;
	left: 106px;
	top: 479px;
}

#vector-90 {
	position: absolute;
	width: 53.78px;
	height: 74.96px;
	left: 80px;
	top: 768px;
}

#vector-91 {
	position: absolute;
	width: 95.92px;
	height: 64.11px;
	left: 17px;
	top: 321px;
}

#vector-92 {
	position: absolute;
	width: 97.68px;
	height: 53.28px;
	left: 1300px;
	top: 1007px;
}

#vector-93 {
	position: absolute;
	width: 75.05px;
	height: 78.86px;
	left: 1704px;
	top: 361px;
}

#vector-94 {
	position: absolute;
	width: 97.68px;
	height: 80.0px;
	left: 900px;
	top: 1018px;
}

#vector-95 {
	position: absolute;
	width: 57.48px;
	height: 80.0px;
	left: 1744px;
	top: 520px;
}

#vector-96 {
	position: absolute;
	width: 161.44px;
	height: 34.18px;
	left: 794px;
	top: 14px;
}

#vector-97 {
	position: absolute;
	width: 119.66px;
	height: 55.95px;
	left: 106px;
	top: 553px;
}

#vector-98 {
	position: absolute;
	width: 61.77px;
	height: 35.9px;
	left: 57px;
	top: 736px;
}

#vector-99 {
	position: absolute;
	width: 71.72px;
	height: 82.63px;
	left: 17px;
	top: 178px;
}

#vector-100 {
	position: absolute;
	width: 54.4px;
	height: 57.8px;
	left: 534px;
	top: 959px;
}

#vector-101 {
	position: absolute;
	width: 95.92px;
	height: 57.8px;
	left: 1657px;
	top: 847px;
}

#vector-102 {
	position: absolute;
	width: 63.17px;
	height: 59.85px;
	left: 1816px;
	top: 403px;
}

#vector-103 {
	position: absolute;
	width: 68.21000000000001px;
	height: 59.85px;
	left: 73px;
	top: 78px;
}

#vector-104 {
	position: absolute;
	width: 87.95px;
	height: 74.37px;
	left: 1753px;
	top: 642px;
}

#vector-105 {
	position: absolute;
	width: 26.91px;
	height: 22.15px;
	left: 1672px;
	top: 775px;
}

#vector-106 {
	position: absolute;
	width: 44.78px;
	height: 53.28px;
	left: 1801px;
	top: 852px;
}

#vector-107 {
	position: absolute;
	width: 68.21000000000001px;
	height: 34.08px;
	left: 1697px;
	top: 1023px;
}

#vector-108 {
	position: absolute;
	width: 50.21px;
	height: 49.97px;
	left: 1789px;
	top: 574px;
}

#vector-109 {
	position: absolute;
	width: 74.38px;
	height: 78.86px;
	left: 1697px;
	top: 423px;
}

#vector-110 {
	position: absolute;
	width: 74.38px;
	height: 31.36px;
	left: 1741px;
	top: 779px;
}

#vector-111 {
	position: absolute;
	width: 32.15px;
	height: 73.42px;
	left: 1875px;
	top: 603px;
}

#vector-112 {
	position: absolute;
	width: 34.730000000000004px;
	height: 51.45px;
	left: 1001px;
	top: 1014px;
}

#vector-113 {
	position: absolute;
	width: 58.49px;
	height: 48.22px;
	left: 302px;
	top: 943px;
}

#vector-114 {
	position: absolute;
	width: 30.4px;
	height: 42.05px;
	left: 1879px;
	top: 813px;
}

#vector-115 {
	position: absolute;
	width: 27.85px;
	height: 37.8px;
	left: 1836px;
	top: 734px;
}

#vector-116 {
	position: absolute;
	width: 26.67px;
	height: 33.21px;
	left: 1561px;
	top: 949px;
}

#vector-117 {
	position: absolute;
	width: 39.39px;
	height: 68.01px;
	left: 1855px;
	top: 202px;
}

#vector-118 {
	position: absolute;
	width: 31.22px;
	height: 56.64px;
	left: 1839px;
	top: 539px;
}

#vector-119 {
	position: absolute;
	width: 44.64px;
	height: 67.01px;
	left: 1796px;
	top: 135px;
}

#vector-120 {
	position: absolute;
	width: 37.489999999999995px;
	height: 56.64px;
	left: 27px;
	top: 463px;
}

#vector-121 {
	position: absolute;
	width: 30.61px;
	height: 68.63px;
	left: 1866px;
	top: 477px;
}

#vector-122 {
	position: absolute;
	width: 23.08px;
	height: 100.04px;
	left: 1791px;
	top: 221px;
}

#vector-123 {
	position: absolute;
	width: 50.15px;
	height: 39.95px;
	left: 1751px;
	top: 951px;
}

#vector-124 {
	position: absolute;
	width: 23.07px;
	height: 30.49px;
	left: 1338px;
	top: 21px;
}

#vector-125 {
	position: absolute;
	width: 21.939999999999998px;
	height: 28.87px;
	left: 1588px;
	top: 873px;
}

#vector-126 {
	position: absolute;
	width: 21.939999999999998px;
	height: 37.21px;
	left: 1059px;
	top: 17px;
}

#vector-127 {
	position: absolute;
	width: 21.18px;
	height: 43.8px;
	left: 819px;
	top: 58px;
}

#vector-128 {
	position: absolute;
	width: 38.019999999999996px;
	height: 49.69px;
	left: 1386px;
	top: 38px;
}

#vector-129 {
	position: absolute;
	width: 28.72px;
	height: 43.8px;
	left: 1682px;
	top: 156px;
}
