{% extends "header.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
<div class="learn-more-title">
    <h1>ללמוד יותר</h1>
</div>
<div class="options-content">
    {% for i in range(options|length) %}
    <div class="option-{{i}}">
        <a href="#" onclick="fadeOut('{{url_for(options[i]['link'])}}')">
            <h3>{{ options[i]["text"] }}</h3>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

