{% extends "header.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}

{% for i in range(3) %}
    <div id="water-{{i}}" class="water-container">
    {% for j in range(3) %}
        <span id="w{{i}}-{{j}}" class="water water-{{i}}"></span>
    {% endfor %}
    </div>
{% endfor %}
<img id="pointer" src="{{url_for('static', filename='imgs/pointer.png')}}">
<div class="learn-more-title">
    <h1>ללמוד יותר</h1>
</div>
<div class="options-content">
    {% for i in range(options|length) %}
    <div id="option-{{i}}" class="options">
        <span id="blur-{{i}}" class="blur"></span>
        {% for j in range(options[i]["vectors"]) %}
        <img id="{{options[i]['vec-id']}}-{{j}}" class="vectors {{options[i]['vec-class']}}"
             src="{{url_for('static', filename='imgs/learn-more/' + options[i]['vec-path'] + '/vec-' + j|string + '.svg')}}">
        {% endfor %}
        <a href="#" onclick="fadeOut('{{url_for(options[i]['link'])}}')">
            <h2>{{ options[i]["text"] }}</h2>
        </a>
    </div>
    {% endfor %}
</div>
<div class="back-button">
    <img src="{{ url_for('static', filename='imgs/learn-more/qrcode.png') }}">
    <h3 id="support">לתמוך בפרוייקט</h3>
</div>
{% endblock %}

