{% extends "header.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/proj_balcony.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='javascript/proj_balcony.js')}}"></script>
{% endblock %}
{% block content %}
<div id="gradient-background" class="screen"></div>
<span id="blur-bottom" class="blur-light"></span>
<span id="blur-top-right" class="blur-light"></span>
<span id="blur-top-left" class="blur-light"></span>

<div id="s3" class="screen">
    <img id="s3-stage" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/pole.png') }}">
    <div id="s3-corals-container">
        <div id="s3-blue-coral" class="s3-coral">
            <img id="s3-blue-part-base" class="s3-blue-coral s3-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/blue-part-base.svg') }}">
            <img id="s3-blue-part-top" class="s3-blue-coral s3-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/blue-part-top.svg') }}">
            <img id="s3-blue-base" class="s3-blue-coral" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/blue-base.svg') }}">
        </div>
        <div id="s3-green-coral" class="s3-coral">
            <img id="s3-green-part-base" class="s3-green-coral s3-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/green-part-base.svg') }}">
            <img id="s3-green-part-top" class="s3-green-coral s3-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/green-part-top.svg') }}">
            <img id="s3-green-base" class="s3-green-coral" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/green-base.svg') }}">
        </div>
        <div id="s3-pink-coral" class="s3-coral">
            <img id="s3-pink-part-base" class="s3-pink-coral s3-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/pink-part-base.svg') }}">
            <img id="s3-pink-part-top" class="s3-pink-coral s3-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/pink-part-top.svg') }}">
            <img id="s3-pink-base" class="s3-pink-coral" src="{{ url_for('static', filename='imgs/project-balcony/screen-3/pink-base.svg') }}">
        </div>
    </div>
    <div id="c3-container">
        <h1 id="s3-title" class="orange-title">על המחקר</h1>
        <div id="p-c3-container" class="p-container">
            <div id="p0-c3" class="p-type-2">
                בנוסף למאמצי השימור, פרוייקט זה עוסק גם במחקר<br>
                 חדשני תחת אוניברסיטת בן גוריון. מחקר זה טומן בחובו את<br>
                הפוטנציאל להגן על שוניות האלמוגים ברחבי העולם,<br>
                ולקדם את הישרדותן לטווח ארוך.
            </div>
            <div id="p1-c3" class="p-type-2">
                במחקר זה, נבחנת בין היתר רביה מלאכותית של אלמוגים<br>
                באמצעות ייחורים - כתימת בסיס מאלמוג אחד, וזרוע<br>
                מאלמוג אחר, וחיבור השניים במעבדה.<br>
                <strong>ההנחה היא ששיטה זו תשפר את עמידותם של<br> האלמוגים החדשים בפני שינויי אקלים ואיומים אחרים.</strong>
            </div>
        </div>
    </div>
</div>

<div id="s2" class="screen">
    <img id="s2-man" src="{{ url_for('static', filename='imgs/project-balcony/screen-2/man-in-reef.png') }}">
    <div id="c2-container">
        <h1 id="s2-title" class="orange-title">על פרוייקט המרפסות</h1>
        <div id="p-c2-container" class="p-container">
            <div id="p0-c2" class="p-type-2">
                <strong>פרויקט המתמקד בשיקום שוניות אלמוגים של חוף<br>
                קצא״א באילת, ומאפשר להן לשגשג ולפרוח שוב.</strong>
            </div>
            <div id="p1-c2" class="p-type-2">
                בפרויקט פורץ דרך זה, נעשה שימוש במעין מרפסות על<br>
                העמודים התומכים במזח.</div>
            <div id="p2-c2" class="p-type-2">
                אותן מרפסות לא רק מספקות פלטפורמה יציבה לצמיחת<br>
                אלמוגים, אלא גם מכילות פסלים ומיצבים אקולוגים היוצרים<br>
                למעשה תערוכת אמנות תת-ימית.
            </div>
        </div>
    </div>
</div>

<div id="s1" class="screen">
    <img id="s1-reef" src="{{ url_for('static', filename='imgs/project-balcony/screen-1/reef.png') }}">
    <div id="c1-container">
        <h1 id="s1-title">על פרוייקט המרפסות</h1>
        <div id="p-c1-container" class="p-container">
            <div id="p0-c1" class="p-type-1">
                מה אם אגיד לכםן ש
                <h2 class="s1-important-data">70%</h2>
                מהחמצן בכדור הארץ בכלל לא מגיע מעצים, אלא משוניות אלמוגים?<br>
            </div>
            <div id="p1-c1" class="p-type-1">
                מה אם אגיד לכםן ש
                <h2 class="s1-important-data">1/4</h2>
                מהחי הימי תלוי באופן ישיר באותן שוניות?<br>
            </div>
            <div id="p2-c1" class="p-type-1">
                מה אם אגיד לכםן שבזמן שקראתם את הטקסט הזה, נפגעו באופן בלתי הפיך כ
                <h2 class="s1-important-data">2500</h2>
                מושבות אלמוגים ברחבי העולם?<br>
            </div>
            <div id="p3-c1" class="p-type-1">
                <strong>מה אם אגיד לכםן, שהתמיכה שלכםן בפרוייקט הזה יכול לעשות הבדל משמעותי בשימור המערכת<br>
                    האקולוגית הימית היקרה הזו והבטחת חיוניותה לדורות הבאים?</strong>
            </div>
        </div>
    </div>
</div>

<div id="s5" class="screen">
    <div id="s5-content-container">
        <div id="c5-0" class="c5">
            על ידי שילוב של מדע ואמנות, השאיפה היא <h2 class="strong strong-pink">לא רק לשקם</h2><br>
            את השונית אלא <h2 class="strong strong-pink">לעורר חיבור עמוק</h2> יותר בין האדם לטבע,<br>
            ולהעלות את המודעות לשבריריות והיופי של מערכות אקולוגיות ימיות.
        </div>
        <div id="c5-1" class="c5">
            <h2 class="strong">אם לא נפעל עכשיו</h2> ההידרדרות המתמשכת של שונית<br>
            האלמוגים באילת תוביל לנזק בלתי הפיך, ותשפיע על מינים<br>
            רבים התלויים בה כדי לשרוד.
        </div>
        <div id="c5-2" class="c5">
            <img id="qr-code" src="{{url_for('static', filename='imgs/project-balcony/qrcode.png')}}">
            <div>
                <h1 id="change-title" class="strong-pink">זה הזמן לשינוי!</h1>
                תמכו בשיקום שונית האלמוגים באילת וקחו חלק<br>
                בשימור אוצר טבע, טיפוח תגליות מדעיות וחיזוק<br>
                הקשר והדו קיום בין האדם לבין הטבע.
            </div>
        </div>

    </div>


    <!--  TOP RIGHT CORALS  -->
    <div id="s5-top-right" class="s5-side-container s5-top-container s5-right-container">
        <div id="s5-blue-top-right" class="s5-coral-container">
            <img id="btr-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-top-right/base.svg')}}">
            <img id="btr-vec-0" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-top-right/vec-0.svg')}}">
            <img id="btr-vec-1" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-top-right/vec-1.svg')}}">
        </div>
        <div id="s5-pink-top-right" class="s5-coral-container">
            <img id="ptr-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/pink-right/base.svg')}}">
            {% for i in range(7) %}
                <img id="ptr-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/pink-right/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <div id="s5-orange-top-right" class="s5-coral-container">
            <img id="otr-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/orange-right/base.svg')}}">
            <img id="otr-vec-0" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/orange-right/vec-0.svg')}}">
        </div>
    </div>


    <!--  BOTTOM RIGHT CORALS  -->
    <div id="s5-bottom-right" class="s5-side-container s5-bottom-container s5-right-container">
        <div id="s5-green-mid" class="s5-coral-container">
            <img id="gm-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/green-mid/base.svg')}}">
            {% for i in range(6) %}
                <img id="gm-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/green-mid/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <div id="s5-blue-bottom-right" class="s5-coral-container">
            <img id="bbr-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-bottom-right/base.svg')}}">
            {% for i in range(5) %}
                <img id="bbr-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-bottom-right/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <img id="s5-right-rock" class="s5-coral-container" src="{{url_for('static', filename='imgs/project-balcony/screen-5/right-rock.svg')}}">
        <div id="s5-purple-bottom" class="s5-coral-container">
            <img id="pb-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/purple-bottom/base.svg')}}">
            {% for i in range(16) %}
                <img id="pb-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/purple-bottom/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <div id="s5-green-right" class="s5-coral-container">
            <img id="gr-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/green-right/base.svg')}}">
            {% for i in range(9) %}
                <img id="gr-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/green-right/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
    </div>

    <!--  TOP LEFT CORALS  -->
    <div id="s5-top-left" class="s5-side-container s5-top-container s5-left-container">
        <div id="s5-purple-top" class="s5-coral-container">
            <img id="pt-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/purple-top/base.svg')}}">
            {% for i in range(9) %}
                <img id="pt-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/purple-top/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <div id="s5-blue-top-left" class="s5-coral-container">
            <img id="btl-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-top-left/base.svg')}}">
            {% for i in range(3) %}
                <img id="btl-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-top-left/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <div id="s5-orange-top-left" class="s5-coral-container">
            <img id="otl-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/orange-top/base.svg')}}">
            {% for i in range(3) %}
                <img id="otl-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/orange-top/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <div id="s5-orange-bottom-left" class="s5-coral-container">
            <img id="obl-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/orange-bottom/base.svg')}}">
            {% for i in range(2) %}
                <img id="obl-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/orange-bottom/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
    </div>

    <!--  BOTTOM LEFT CORALS  -->
    <div id="s5-bottom-left" class="s5-side-container s5-bottom-container s5-left-container">
        <img id="s5-left-rock" class="s5-coral-container" src="{{url_for('static', filename='imgs/project-balcony/screen-5/left-rock.svg')}}">
        <div id="s5-green-left" class="s5-coral-container">
            {% for i in range(6) %}
                <img id="gl-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/green-left/vec-' + i|string + '.svg')}}">
            {% endfor %}
            <img id="gl-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/green-left/base.svg')}}">
        </div>
        <div id="s5-pink-bottom-left" class="s5-coral-container">
            <img id="pbl-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/pink-left/base.svg')}}">
            {% for i in range(6) %}
                <img id="pbl-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/pink-left/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
        <div id="s5-blue-bottom-left" class="s5-coral-container">
            <img id="bbl-base" class="s5-base" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-floor/base.svg')}}">
            {% for i in range(3) %}
                <img id="bbl-vec-{{i}}" class="s5-vec" src="{{url_for('static', filename='imgs/project-balcony/screen-5/blue-floor/vec-' + i|string + '.svg')}}">
            {% endfor %}
        </div>
    </div>
</div>

<div id="s4" class="screen">
    <div id="c4-instructions">
        <p>
            לחצו על בסיס מאלמוג אחד ולאחר מכן על זרוע מאלמוג אחר<br>
            <strong>וצרו לכם אלמוג חדש, עמיד וחזק יותר!</strong>
        </p>
    </div>
    <div id="c4-container">
        <div class="c4-coral-container">
            <span id="s4-blur-0" class="s4-blur"></span>
        </div>
        <div class="c4-coral-container">
            <span id="s4-blur-1" class="s4-blur"></span>
            <img class="blue-base-part-glow blue-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/blue-part-base-glow.png') }}">
            <img class="blue-top-part-glow blue-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/blue-part-top-glow.png') }}">
            <img id="s4-blue-part-top" class="s4-blue-coral s4-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/blue-part-top.svg') }}">
            <img id="blue-top-frame" class="blue-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/blue-top-frame.png') }}">
            <img id="s4-blue-base" class="s4-blue-coral" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/blue-base.svg') }}">
            <img id="s4-blue-part-base" class="s4-blue-coral s4-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/blue-part-base.svg') }}">
            <img id="blue-base-frame" class="blue-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/blue-base-frame.png') }}">
        </div>
        <div class="c4-coral-container">
            <span id="s4-blur-2" class="s4-blur"></span>
            <img class="green-base-part-glow green-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/green-part-base-glow.png') }}">
            <img class="green-top-part-glow green-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/green-part-top-glow.png') }}">
            <img id="s4-green-part-top" class="s4-green-coral s4-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/green-part-top.svg') }}">
            <img id="green-top-frame" class="green-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/green-top-frame.png') }}">
            <img id="s4-green-base" class="s4-green-coral" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/green-base.svg') }}">
            <img id="s4-green-part-base" class="s4-green-coral s4-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/green-part-base.svg') }}">
            <img id="green-base-frame" class="green-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/green-base-frame.png') }}">
        </div>
        <div class="c4-coral-container">
            <span id="s4-blur-3" class="s4-blur"></span>
            <img class="pink-base-part-glow pink-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/pink-part-base-glow.png') }}">
            <img class="pink-top-part-glow pink-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/pink-part-top-glow.png') }}">
            <img id="s4-pink-base" class="s4-pink-coral" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/pink-base.svg') }}">
            <img id="s4-pink-part-base" class="s4-pink-coral s4-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/pink-part-base.svg') }}">
            <img id="s4-pink-part-top" class="s4-pink-coral s4-coral-part" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/pink-part-top.svg') }}">
            <img id="pink-base-frame" class="pink-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/pink-base-frame.png') }}">
            <img id="pink-top-frame" class="pink-part-glow part-glow" src="{{ url_for('static', filename='imgs/project-balcony/screen-4/pink-top-frame.png') }}">
        </div>
    </div>
</div>

<div id="nav-container">
    <div id="nav">
        <div id="arrows">
            <img id="restart" src="{{ url_for('static', filename='imgs/project-balcony/arrow-restart.png') }}">
            <img id="next" src="{{ url_for('static', filename='imgs/project-balcony/arrow-forward.png') }}" onclick="navNext()">
        </div>
        <div id="stages">
            {% for i in range(7) %}
            <div class="stage-container">
                <img class="stage-img" src="{{ url_for('static', filename='imgs/project-balcony/stage.png') }}">
                <span id="stage-{{i}}" class="stage-pick" onclick="navigateTo({{i}})"></span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="back-button">
        <a href="#" onclick="fadeOut('{{ url_for('learn_more') }}')"><img src="{{ url_for('static', filename='imgs/back-button.png') }}"></a>
</div>
{% endblock %}