<!DOCTYPE "html">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reef_destruction.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='javascript/reef_destruction.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/base.js')}}"></script>
</head>
<body>
<div class="back-button">
        <a href="#" onclick="fadeOut('{{ url_for('learn_more') }}')"><img src="{{ url_for('static', filename='imgs/back-button.png') }}"></a>
</div>
<div class="right-side side">
    <div class="right-side-content">
        <h1>אין <span class="title-diff-color">זמן</span> לבזבז</h1>

        <div class="content">
            <p>
                קצב השמדת מושבות האלמוגים בעולם על פי הערכות Corral Reef Alliance:<br>
                *הערכה זו עשויה להשתנות ממקום למקום בעולם
            </p>
            <br>
            <div class="content-flex-container">
                <div class="flex-item"><strong>7.5 מיליארד</strong><br> בשנה</div>
                <div class="flex-item"><strong>625 מיליון</strong><br> בחודש</div>
                <div class="flex-item"><strong>21 מיליון</strong><br> ביום</div>
                <div class="flex-item"><strong>890 אלף</strong><br> בשעה</div>
                <div class="flex-item"><strong>14.5 אלף</strong><br> בדקה</div>
                <div class="flex-item"><strong>250</strong><br> בשניה</div>
            </div>
            <br><div class="content-diff-color" id="dead-coral-count">0</div>
            <p class="content-diff-color">מאז שנכנסת לדף</p>
        </div>
    </div>
</div>
<div class="background-image">
</div>
</body>
</html>