{% include "header.html" %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reef_importance.css')}}">
</head>
<body>
<div class="back-button">
    <a href="{{ url_for('learn_more') }}"><button>back</button></a>
</div>
<div class="snorkel-container">
    <div class="snorkel-shapes">
        <img class="goggle-outlines" src="{{ url_for('static', filename='imgs/full-goggle-front.png') }}">
        <img class="small-goggle-mask" src="{{ url_for('static', filename='imgs/small-goggle-mask.png') }}">
        <img class="empty-full-goggle-mask" src="{{ url_for('static', filename='imgs/empty-full-goggle.png') }}">
    </div>
    <div class="snorkel-contents" hidden>
        <h1 class="">אז מה כל כך מיוחד באלמוגים</h1>
        <p class="instructions">
            לחצו על הבועות<br>
            <b>או</b><br>
            גררו את המסך ימינה או שמאלה<br>
            כדי לגלות 5 עובדות על אלמוגים שבטח לא ידעתם!
        </p>
        <div class="option-a">
            <div class="option-a-right">
                <p>
                    שוניות האלמוגים תומכות בתעשיית <br>
                    דיג עולמית בשווי של למעלה מ-<br>
                    <strong><h2>6 מיליארד דולר</h2></strong>
                </p>
            </div>
            <div class="option-a-left">
                <p>
                    שוניות האלמוגים תומכות בתעשיית<br>
                    התיירות בשווי של למעלה מ<br>
                    <strong><h2>36 מיליארד דולר</h2></strong>
                </p>
            </div>
        </div>
        <div class="option-b">
            <p>
                <strong><h2>25%</h2> מכל המינים הימיים מסתמכים באופן ישיר על<br>
                שוניות האלמוגים למזון, מחסה ומקומות רבייה.</strong>
                מינים אלה חיוניים להמשך שרשרת המזון, למאות אלפי מינים ימיים המסתמכים על השוניות<br>
                באופן עקיף, ולמליוני אנשים בעולם מסתמכים על דיג עבור מזונם והכנסתם.<br>
            </p>
        </div>
        <div class="option-c">
            <p>
                שוניות האלמוגים אחראיות לייצור <h2>70%</h2> מהחמצן שאנחנו נושמים ונושמות<br>
                שוניות האלמוגים ממלאות תפקיד מכריע בייצור חמצן באמצעות פוטוסינתזה,<br>
                המתבצעת על ידי אצות סימביוטיות החיות בתוך רקמת האלמוגים
            </p>
        </div>
        <div class="option-d">
            <p>
                שוניות אלמוגים ממלאות תפקיד מכריע במיתון ההתחממות הגלובלית בכך שהן לוכדות בכל שנה כ
                <dev class="option-d-special-a">
                    <h2>70 מיליון</h2> טונות מטריות פחמן
                </dev>
                <dev class="option-d-special-b">
                    מה שמקביל לפליטת פחמן של
                </dev>
                <dev class="option-d-special-c">
                    <h2>15 מיליון</h2> כלי רכב נוסעים בשנה
                </dev>
                בנוסף, שוניות אלמוגים עוזרות לשמור על טמפרטורות מים יציבות, מה שיכול לעזור למנוע הלבנת <br>
                אלמוגים ולקדם צמיחה בריאה של אלמוגים.
            </p>
        </div>
        <div class="option-e">
            <p>
                <br>שוניות האלמוגים מגנות על כ
                <h2>275 מיליון</h2> בני אדם לפחות, החיים באזורים על קו החוף, בכך שהן פועלות
            כמחסומים טבעיים המגינים על קווי החוף מפני שחיקה,
            גלי סערה ואסונות טבע אחרים.
            </p>
        </div>
    </div>
    <div class="snorkel-options">

    </div>
</div>

</body>