<!DOCTYPE "html">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reef_destruction.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='javascript/reef_destruction.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/base.js')}}"></script>
</head>
<body>
<div id="spinning-background"></div>
<div class="back-button">
        <a href="#" onclick="fadeOut('{{ url_for('learn_more') }}')"><img src="{{ url_for('static', filename='imgs/back-button.png') }}"></a>
</div>
<div class="first-content">
    <h1>אין <span class="title-diff-color">זמן</span> לבזבז</h1>

    <div class="content">
        <p>
            קצב השמדת מושבות האלמוגים בעולם על פי הערכות Coral Reef Alliance:<br>
            *הערכה זו עשויה להשתנות ממקום למקום בעולם
        </p>
        <br>
        <div class="content-flex-container">
            <div class="flex-item"><strong>7.5 מיליארד</strong><br> בשנה</div>
            <div class="flex-item"><strong>625 מיליון</strong><br> בחודש</div>
            <div class="flex-item"><strong>21 מיליון</strong><br> ביום</div>
            <div class="flex-item"><strong>890 אלף</strong><br> בשעה</div>
            <div class="flex-item"><strong>14.5 אלף</strong><br> בדקה</div>
            <div class="flex-item"><strong>250</strong><br> בשניה</div>
        </div>
        <br><div class="content-diff-color" id="dead-coral-count">000</div>
        <p class="content-diff-color">מאז שנכנסת לדף</p>
    </div>
</div>

<div id="background-image">
    <div id="main-title" class="info-container">
        <h1 id="info-title-intro" class="info-title">אז מה הורג את<br> האלמוגים?</h1>
        <div id="main-animate-container">
            <p class="info-instructions">לחצו על כל צבע כדי לגלות</p>
        </div>
    </div>
    <div id="info-0" class="info-container"> <!-- purple -->
        <h1 class="info-title">שינויי האקלים</h1>
        <div class="info-animate-container">
            <p class="info-content">עליית טמפרטורות היום, החמצת האקויינוסים<br>
                ואירועי מזג אוויר קיצוניים גורמים להלבנת<br>
                אלמוגים ו<strong class="info-content">מוות בקנה מידה עצום</strong>
            </p>
        </div>
        <p class="info-instructions">{{return_instruct}}</p>
    </div>
    <div id="info-1" class="info-container"> <!-- teal -->
        <h1 class="info-title">פיתוח חופי</h1>
        <div class="info-animate-container">
            <p class="info-content">
                פעילויות פיתוח חופי כגון חפירות, שיקום קרקע ובנייה<br>
                עלולות לשבש את התהליכים הטבעיים השומרים על<br>
                שוניות האלמוגים ולהוביל ל<strong class="info-content">שקיעת קרקע החונקת אלמוגים</strong><br>
                ומפחיתה את חדירת האור.
            </p>
        </div>
        <p class="info-instructions">{{return_instruct}}</p>
    </div>
    <div id="info-2" class="info-container"> <!-- pink -->
        <h1 class="info-title">תיירות לא בת קיימא</h1>
        <div class="info-animate-container">
            <p class="info-content">
                פעילויות תיירות <strong class="info-content">לא מסודרות</strong> כמו עיגון, שנורקלינג<br>
                וצלילה עלולות להוביל לנזק פיזי לשוניות האלמוגים, וגם<br>
                לגרום לזיהום ושקיעת קרקע.
            </p>
        </div>
        <p class="info-instructions">{{return_instruct}}</p>
    </div>
    <div id="info-3" class="info-container"> <!-- blue -->
        <h1 class="info-title">דיג יתר</h1>
        <div class="info-animate-container">
            <p class="info-content">
                דיג יתר עלול להפר את האיזון של המערכת<br>
                האקולוגית על ידי <strong class="info-content">הסרת מינים מרכזיים</strong><br>
                הממלאים תפקידים קריטיים בשמירה על<br>
                בריאותן של שוניות האלמוגים.
            </p>
        </div>
        <p class="info-instructions">{{return_instruct}}</p>
    </div>
    <div id="info-4" class="info-container"> <!-- orange -->
        <h1 class="info-title">זיהום</h1>
        <div class="info-animate-container">
            <p class="info-content">
                זיהום ממקורות כמו חקלאות, ביוב ופעילויות תעשייתיות<br>
                עלול להוביל לירידה של שוניות האלמוגים
            </p>
            <p class="info-content">
                כימיקלים ממקורות אלו עלולים <strong class="info-content">לגרום להלבנת אלמוגים</strong>,<br>
                לשנות את רמות ה-PH של המים ולפגוע בשכבת הריר<br>
                המגנה על האלמוגים.
            </p>
        </div>
        <p class="info-instructions">{{return_instruct}}</p>
    </div>
</div>

<div class="shapes-circle">
    {% for i in range(0, 76) %}
        {% set curr_filename = 'imgs/reef-destruct-circle/Circle-Vector-' + i|string + '.svg' %}
        {% if i < 25 %}
            {% set shape_group = 0 %} <!--  purple  -->
        {% elif i < 38 %}
            {% set shape_group = 1 %} <!--  teal  -->
        {% elif i < 47 %}
            {% set shape_group = 2 %} <!--  pink  -->
        {% elif i < 58 %}
            {% set shape_group = 3 %} <!--  blue  -->
        {% else %}
            {% set shape_group = 4 %} <!--  orange  -->
        {% endif %}
        <img id="vector-{{i}}" class="vector vector-group-{{shape_group}}" src="{{url_for('static', filename=curr_filename)}}"
        onmouseover="blur_shine({{shape_group}}, true)" onmouseout="blur_shine({{shape_group}}, false)"
        onclick="accent_group({{shape_group}})">
    {% endfor %}
</div>

<div id="blur-circle">
    {% for i in range(0, 5) %}
        {% set curr_filename = 'imgs/reef-destruct-circle/blur-' + i|string + '.svg' %}
        <img id="blur-{{i}}" class="blur" src="{{url_for('static', filename=curr_filename)}}"
        onclick="accent_group({{i}})">
        <div id="precentage-container-{{i}}" class="precentage-container">
            <span id="precentage-blur-{{i}}" class="blur-precentage"></span>
            <h1 id="group-precentage-{{i}}" class="group-precentage">{{ precentage[i] }}</h1>
        </div>
    {% endfor %}
</div>

<div id="press-options">
    {% for i in range(0, 5) %}
        <img id="press-{{i}}" class="press" src="{{url_for('static' , filename='imgs/press-button.png')}}"
        onmouseover="blur_shine({{i}}, true)" onmouseout="blur_shine({{i}}, false)"
        onclick="accent_group({{i}})">
    {% endfor %}
</div>

<img id="arrow-down" class="arrow" src="{{url_for('static' , filename='imgs/arrow-down.png')}}" onclick="assemble_circle(true)">
<img id="arrow-up" class="arrow" src="{{url_for('static' , filename='imgs/arrow-up.png')}}" onclick="assemble_circle(false)">

</body>
</html>