{% include "header.html" %}
<body>
<div class="back-button">
    <a href="{{ url_for('learn_more') }}"><button>back</button></a>
</div>
<dev class="scroll-a">
    <dev class="title-a">
        <h1>למה דווקא אילת?</h1>
    </dev>
    <dev class="content-a">
        <p>
            תאמינו או לא, אבל לשונית הקטנה הישראלית שלנו יש חשיבות מכרעת למאבק לשיקום שונית בעולם.
        </p>
    </dev>
</dev>
<dev class="scroll-b">
    <dev class="title-b">
        <h1>הסוד הוא פשוט במיקום</h1>
    </dev>
    <dev class="content-b">
        <p>
            אילת ממוקמת בחלק הצפוני של ים סוף,<br>
            שם המים קרירים יותר ויש רמה גבוהה יותר של חומרי הזנה במים.
        </p>
    </dev>
</dev>
<dev class="scroll-c">
    <dev class="title-c">
        <h1>ומה המיקום נותן?</h1>
        <h3>(לחצו על מספר כדי לגלות)</h3>
    </dev>
    <dev class="content-c">
        <p class="">
            <h2 class="option-title">מגוון ביולוגי ימי רחב מאוד</h2>
        אותם חומרי הזנה הביאו לכך שכמעט חצי ממיני האלמוגים הנמצאים בכל הים האדום,<br>
        נמצאים למעשה באילת!
        </p>
        <p>
            <h2 class="option-title">חי וצומח מקומי</h2>
        חיות מסוימות וצמחים רבים חיים אך ורק באזור הזה.<br>
        זה הופך את שוניות אילת לאחד האזורים החשובים ביותר לשימור.
        </p>
        <p>
            <h2 class="option-title">עמידות</h2>
        בעיר הקטנה הדרומית שלנו, נמצאות השוניות שנחשבות לבין העמידות והחזקות ביותר בעולם.<br>
        הלאמוגים בסביבה זו מצליחים לעמוד בכל מה שהורס לגמרי אלמוגים אחרים ברחבי העולם -<br>
        טמפ' המים גבוהות, זיהום ודייג לא אחראי.
        </p>
        <p>
            <h2 class="option-title">גרעין הרבייה העתידי של העולם</h2>
        בזמנים בהם ההרס הימי הוא כל כך עצום, יש המשערים שאילת תהיה הגרעין ממנו<br>
        נוכל לבסוף לשקם את השוניות בשארית העולם
        </p>
    </dev>
    <dev class="conclusion">
        <h2 class="option-title">מה המסקנה?</h2>
        <p>
            ככל שנשקיע יותר בפיתוח המערכת האקולוגית הימית החזקה באילת, כך נוכל ללמוד יותר איך לחזק שוניות<br>
            פגיעות ברחבי העולם, כולל אזורים כמו שונית המחסום הגדולה, האיים הקריביים ודרום מזרח אסיה.
        </p>
    </dev>
</dev>

</body>